*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

/* =====================
     navbar started 
   ===================== */

nav{
    width: 100%;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    z-index: 99;
}

.menu-button i{
    font-size: 34px;
    font-weight: 600;
    cursor: pointer;   
}

/* =================
    navbar ended
   ================= */


/* ======================
    hero section started 
   ====================== */

.hero-section{
    /* height: 520px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 150px 30px;
}

.hero-image img{
    width: 512px;
}

.bg-green{
    background-color: #149F39;
    color: #ffffff;
    font-size: 1.5rem;
    width: 190px;
    padding: 4px;
}

.hero-txt h1{
    font-size: 7rem;
    font-weight: 500;
    line-height: 1.3;
    padding: 15px 0px;
}

.simple{
    font-size: 1.5rem;
    padding-bottom: 18px;
    color: #ccc;
}

button{
    background-color: #FFC066;
    border: none;
    padding: 8px 13px;
    cursor: pointer;
}

/* ======================
    hero section ended 
   ====================== */


   /* cards section started */


.cards-section{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px 0px 50px;
}

.card{
    display: flex;
    align-items: center;
    gap: 22px;
    width: 380px;
    height: 120px;
    padding: 15px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 5px 5px 5px 2px rgba(60, 60, 60, 0.2);
    transition: .2s ease-in-out
}

.card-icon img{
    width: 70px;
}

.card-content h3{
    font-size: 1.7rem;
    padding-bottom: 4px;
}

.card-content p{
    font-size: 1.5rem;
    color: #ccc;
}

#divider {
    border: 1px solid #ccc;
}

/* cards section ended */



/* menu section started */

#main{
    display: flex;
    gap: 8px;
    /* padding-right: 50px; */
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    /* width: 100vh; */
}

.m-content{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.bg-green-2{
    background-color: #149F39;
    color: #ffffff;
    font-size: 1.4rem;
    width: 80px;
    padding: 4px;
    cursor: pointer;
}

.m-content h2{
    font-size: 2.2rem;
    font-weight: 600;
}

.flex{
    display: flex;
    gap: 8px;
}

.img-1 img{
    width: 590px;
    height: 625px;
    border-radius: 10px;
    cursor: pointer;
}

.img-1 img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.img-2 img{
    width: 290px;
    border-radius: 10px;
    cursor: pointer;
}

.img-2 img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.img-3 img{
    width: 290px;
    border-radius: 10px;
    cursor: pointer;
}

.img-3 img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}


.height-625{
    height: 625px;
}

.width-292{
    width: 291px;
}

.border-r-10{
    border-radius: 10px;
    
}

.cursor-pointer{
    cursor: pointer;
}

.img-4 img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.img-5 img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.img-6 img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

/* menu section ended */

/* footer started */

.footer{
    /* height: 220px; */
    background-color: #FFF0DB;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 30px;
}

.first img{
    width: 200px;
    height: 75px;
}

.footer h3{
    font-size: 1.8rem;
    color: #ccc;
    padding-bottom: 15px;
    padding-top: 10px;
}

ul{
    list-style-type: none;
}

li{
    font-size: 1.4rem;
    line-height: 2;
    cursor: pointer;
}

input{
    width: 230px;
    padding: 2px;
}

i{
    font-size: 4rem;
    cursor: pointer;
    margin-left: 5px;
}

/* footer ended */

@media (max-width: 600px) {

    html{
        font-size: 55%;
    }

    nav{
        width: 100%;
    }

    .hero-section{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .hero-image img{
        width: 40%
    }

    .cards-section{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer{
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
    }

    #main{
        width: auto;
    }


}